.home-page {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .home-page {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .home-page {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.home-page {
  gap: 1.5rem;
}


.card-container > div {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-container > div:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}