/* src/Footer.css */
.footer {
    background-color: #1d8ccc7d; /* Adjust the background color */
    color: white;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo-img {
    height: 50px; /* Adjust the logo size */
    margin-right: 10px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  