/* src/components/Header.css */
.header {
    display: flex;                 /* flex */
    justify-content: space-between; /* justify-between */
    align-items: center;           /* items-center */
    margin-bottom: 2rem;
    background-color: rgb(57, 92, 123);
    height: 50px;
  }
  
  .header-label {
    font-size: 1.2rem;
    color: #333;
    margin-left: 10px;
  }
